.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceSmall {
  composes: text text_type_digits-default from global;
}

.priceLarge {
  composes: text text_type_digits-medium from global;
}
