.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.constructorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  min-height: 300px;
  border: 2px dashed transparent;
  transition: border-color 0.3s ease;
}

.hovered {
  border-color: var(--primary-color);
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: var(--modal-background-color);
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredientLocked {
  composes: ml-6 from global;
}

.scrollableContainer {
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitOrderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
