.card {
  position: relative;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cardTitle {
  composes: text text text_type_main-small from global;
  text-align: center;
}
